<a href="https://colab.research.google.com/github/JoshuaDiazAtencia/CPEN-21A-CPE-1-1/blob/main/Loop_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop statement

 Example 1

In [1]:
week= ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","sunday",]
for x in week:
  print(x)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
sunday

Example 2 (the break statement)

In [2]:
week= ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","sunday",]
for x in week:
  print(x)
  if x=="Thursday":
    break

Monday
Tuesday
Wednesday
Thursday

Example 3 (the break statement)

In [5]:
week= ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","sunday",]
for x in week:
  if x=="Thursday":
    break
  print(x)

Monday
Tuesday
Wednesday

Example 4 (Looping through a string)

In [6]:
for x in "week":
  print(x)

w
e
e
k

The range() Function

In [8]:
for x in range(6):
  print(x)
for x in range(2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

Nested loops

In [9]:
adjective= ["red","big","tasty"]
fruits= ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Example 5 (Python while loops)

In [10]:
i=1
while i<6:
  print(i)
  i+=1 #i=i+1 assignment operator

1
2
3
4
5

The break statement

In [11]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

The continue statement

In [27]:
i=1
while i<6:
  i+=1
  if i==3:
    continue
  else:
    print(i)

2
4
5
6

the else statement

In [14]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 1

In [16]:
hello = ["Hello 0","Hello 1","Hello 2","Hello 3","Hello 4","Hello 5","Hello 6","Hello 7","Hello 8", "Hello 9", "Hello 10"]
for x in hello:
  print(x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [18]:
i=0
while i<=10:
  print("Hello",i)
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [28]:
for x in range(3,10):
  print(x)

3
4
5
6
7
8
9

In [41]:
i=3
while i<10:
  print(int(i))
  if i==10:
    break
  i+=1

3
4
5
6
7
8
9

In [42]:
for x in "3456789":
  print(int(x))

3
4
5
6
7
8
9